<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a.sportsplanning">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SplashActivity" />
        <activity android:name=".activity.LoginActivity" />

        <service
            android:name=".service.LoginService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".activity.SignUpActivity" />

        <service
            android:name=".service.RegisterService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".question.SportTargetActivity" />
        <activity android:name=".question.InfoActivity" />
        <activity android:name=".question.BMIActivity" />
        <activity android:name=".question.CoefActivity" />

        <service
            android:name=".service.FoodService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".evaluate.CurrentSituationActivity" />

        <service
            android:name=".service.BindService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".evaluate.ExerciseSiteActivity" />
        <activity android:name=".evaluate.LowerLimbActivity" />
        <activity android:name=".evaluate.FlexibilityActivity" />
        <activity android:name=".evaluate.ChestEnduranceActivity"></activity>
    </application>

</manifest>